<div id="container">

  <app-header></app-header>

  <!--<md-grid-list cols="4" rowHeight="100% - 28px">
    <md-grid-tile colspan="1" rowspan="1" style="background: beige">
      <ul *ngIf="chapters">
        <li *ngFor="let chapter of chapters">
          {{chapter.heading}}
          <ul>
            <li *ngFor="let article of chapter.articles">
              {{article.title}}
            </li>
          </ul>
        </li>
      </ul>
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="1" style="background: lightgreen">
      right
    </md-grid-tile>
  </md-grid-list>-->
  <router-outlet></router-outlet>
</div>




