#container {
  //background: #00bcd4;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  overflow: hidden;
}

app-header {
  display: block;
  height: 56px;
  position: absolute;
  z-index: 2;
  width: 100%;

  &.extra-header-compensation {
    top: 66px;
  }
}
