<div class="version-warning {{(selectedYearIsSameAsDefaultYear() | async) ? 'current-revision' : ''}}">
  <div>Visar utgåva

    <select [(ngModel)]="selectedYear" (change)="saveSelectedYear()">
      <option [ngValue]="''">Välj...</option>
      <option *ngFor="let year of availableYears" [ngValue]="year">{{year}}</option>
    </select>

  </div>
  <div>
    <em>Du ser det här för att du är inloggad. <a href="" (click)="updateArticles();false">Ladda om artiklar</a>.</em>
    <em>
      Redigera artiklar i <a href="{{adminUrl | async}}">administrationsgränssnittet</a>.
    </em>
  </div>


  <span class="right-align" *ngIf="displayName">
    <span>{{displayName}}</span>
    <span><button (click)="logout()">Logga ut</button></span>
  </span>
</div>
