<div class="container">

  <div *ngIf="!loggedIn">
    <app-login></app-login>
  </div>

  <div *ngIf="loggedIn">
    <h2>Välj utgåva</h2>
    <p>Genom att välja år ändrar du året du själv ser. <b>Ingen annan kommer påverkas.</b></p>

    <div>
      <section>
        <div>
          Välj utgåva:
        </div>
        <select [(ngModel)]="selectedYear" (change)="saveSelectedYear()">
          <option *ngFor="let year of availableYears | async" [ngValue]="year">{{year}}</option>
        </select>
        <button (click)="resetYear()">Rensa val</button>
      </section>

      <div>
        <span>Standardutgåva: {{defaultYear}}</span>
      </div>
    </div>
  </div>
</div>
