@import '../../../assets/scss/shared';

app-article {
  display: block;
  height: calc(100% - 16px);
  padding: 16px 16px 0 16px;
}

.content {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;

  &.extra-header-compensation {
    height: calc(100% - 122px);
    top: 122px;
  }
}

.col-4, .col-8 {
  box-sizing: border-box;
  float: left;
  height: 100%;
  position: relative;
}

.col-4 {
  background: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  line-height: 20px;
  width: 33%;
  padding: 16px 0;

  h3 {
    margin-left: 16px;
  }

  a {
    color: #000;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}

.col-8 {
  width: 67%;

  &.transparent {
    background: transparent;
  }
}

@include max-medium {
  .active {
    width: 100%;
  }

  .inactive {
    display: none;
  }
}

.article-link {
  display: block;
  padding: 10px 16px;

  &:hover {
    background-color: #fcffdf;
  }

  &.active {
    background-color: #fcffdf;
  }
}

@include max-medium {
  .article-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.anchor-element:hover {
  cursor: text;
}

#background{
  position:absolute;
  z-index:0;
  display:block;
  min-height:50%;
  min-width:50%;
  line-height: 3em;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: rgba(0, 0, 0, 0.12);

  top: -75%;
  left: -175%;

  width: 350%;
  height: 150%;

  transform: rotate(-45deg);
}

.article-link+ul {
  display: none;
}

.article-link.active+ul {
  display: block;
}

a:hover {
  cursor: pointer;
}

.sub-chapter-list {
  list-style: none;
  padding-left: 20px;
}

.sub-chapter-link {
  display: block;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: .8em;

  &:before {
    content: '\02013\000A0\000A0';
  }
}
.sub-chapter-link:hover {
  background-color: #ececec;
}

ul {
  margin-top: 4px;
  margin-bottom: 8px;
}

table td {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.watermark-draft {
  background-image:url("/assets/image/draft-text.png")
  //background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='60px' width='100px'><text x='0' y='15' fill='#000' opacity='0.2' transform='rotate(-35 60,10)'>UTKAST</text></svg>")
}

.loading-indicator {
  display: block;
  text-align: center;
  top: calc(50% - 36px);
  position: absolute;
  left: calc(50% - 33px);
}

.logo {
  text-align: center;
  //margin-top: 80px;
  max-width: 100%;

  &.only-desktop {
    margin-top: 24px;
  }

  img {
    max-width: 95%;
  }
}

.icon.icon-spinner {
  animation: rotate .8s infinite;
  animation-timing-function: cubic-bezier(0.495, 0.405, 0.495, 0.635);
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 2px solid #005c95;
  border-bottom: 0;
  border-radius: 50%;
  border-left: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
