<div class="content">
  <div class="col-4 scroll-container {{article ? 'inactive' : 'active'}}">
    <div *ngIf="chapters">
      <div *ngFor="let chapter of chapters">

        <h3>{{chapter.heading}}</h3>

        <div *ngFor="let article of chapter.articles">
          <a class="article-link" routerLink="/" [queryParams]="{article: article.uuid}" queryParamsHandling="merge" routerLinkActive="active" (click)="scrollToTop()">{{article.title}} {{article.status === 2 ? '(Utkast)' : ''}}</a>
          <ul class="sub-chapter-list">
            <!--<li *ngFor="let field of article.fields" [ngStyle]="{'display': 'none'}">{{field.value}}</li>-->
            <li *ngFor="let field of article.fields" [ngStyle]="(field.value && field.value.length > 0) ? {} : {'display': 'none'}">
              <a class="sub-chapter-link" (click)="scrollToSubChapter(field.value)">{{field.value}}</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="col-8 scroll-container  {{article ? 'active' : 'inactive'}} {{(watermarkText() | async) ? 'watermark-draft' : ''}}">

    <div *ngIf="article; else progressIndicator">
      <h2>{{article.title}}</h2>

      <div class="{{getStyleOption(field)}}" *ngFor="let field of article.fields">

        <a class="anchor-element" name="{{field.value}}"><h3>{{field.value}}</h3></a>

        <div [innerHTML]="getRichContent(field)"></div>

        <div *ngIf="getImage(field)">
          <p>
            <img src="/api/image?url={{getImage(field)}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #progressIndicator>
    <span *ngIf="showProgress" class="loading-indicator"><i class="icon icon-spinner"></i></span>
  </ng-template>
</div>
