<div class="content">
  <div class="col-4 scroll-container {{article ? 'inactive' : 'active'}}">
    <div class="logo only-mobile">
      <img src="/assets/image/vgr-w400-c.png">
    </div>

    <div *ngIf="chapters">
      <div *ngFor="let chapter of chapters">

        <h3>{{chapter.heading}}</h3>

        <div *ngFor="let article of chapter.articles">
          <a class="article-link" routerLink="/" [queryParams]="{article: prettify(article.title)}" queryParamsHandling="merge" routerLinkActive="active" (click)="scrollToTop()">{{article.title}} <!--{{article.status === 2 ? '(Utkast)' : ''}}--></a>
          <ul class="sub-chapter-list">
            <!--<li *ngFor="let field of article.fields" [ngStyle]="{'display': 'none'}">{{field.value}}</li>-->
            <li *ngFor="let field of filterField('Rubrik1', article.contentFields)" [ngStyle]="(field.contentFieldValue?.data && field.contentFieldValue?.data.length > 0) ? {'display': 'block'} : {'display': 'none'}">
              <a class="sub-chapter-link" (click)="scrollToSubChapter(field.contentFieldValue?.data)">{{field.contentFieldValue?.data}}</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="col-8 {{article ? 'active' : 'inactive'}} {{(watermarkText() | async) ? 'watermark-draft' : ''}}">
    <app-article [article]="article" [showTitle]="true" *ngIf="article; else noArticle"></app-article>
  </div>

  <ng-template #noArticle>
    <span *ngIf="showProgress" class="loading-indicator"><i class="icon icon-spinner"></i></span>

    <div class="logo only-desktop">
      <img src="/assets/image/vgr-w400-c.png">
    </div>

    <app-article [article]="startPageArticle" [showTitle]="false"></app-article>
  </ng-template>
</div>
