form {
  font-size: 1.1em;
  padding: 1em;

  label {
    display: block;
  }

  div {
    margin: 8px 0 16px 0;
  }

  input {
    font-size: 1.1em;
    height: 24px;
    padding: 4px;
    width: 192px;
  }

  input[type=submit] {
    height: auto;
    width: auto;
  }
}
