img {
  max-width: 100%;
}

#article-container {
  height: 100%;
}

h2 {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 12px;

  .fa-caret-right {
    margin: 0 16px
  }
}

.scroll-container {
  box-sizing: border-box;
  height: calc(100% - 40px);
  padding-bottom: 50px;
}

.box {
  border: 1px solid #80c0e3;
  padding: 4px 12px;
}

.blue {
  color: #3c82c8
}
