<div id="article-container" *ngIf="article">
  <h2 *ngIf="showTitle"><span class="nowrap">{{article.path[1]}}</span><span class="fa fa-caret-right"></span><span class="nowrap">{{article.title}}</span></h2>

  <div class="scroll-container" >
    <div class="{{getStyleOption(field)}}" *ngFor="let field of filterField('Rubrik1', article.fields)">

      <a class="anchor-element" name="{{field.value}}"><h3>{{field.value}}</h3></a>

      <div [innerHTML]="getRichContent(field)"></div>

      <div *ngIf="getImage(field) as image">
        <p>
          <img src="/api/image/{{image.groupId}}/{{image.uuid}}"/>
        </p>
      </div>
    </div>

    <p>&nbsp;</p> <!-- to get a space at the bottom, ie doesn't behave like others -->
  </div>
</div>
