.header {
  background: #005292;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;

  a {
    color: #ffffff;

    &:visited {
      color: #ffffff;
    }
  }

  .title {
    //position: absolute;
    //line-height: 42px;
    //text-align: center;
    //margin: 0 auto 0 calc(50% - 160px);
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;

    a {
      text-decoration: none;
    }
  }
}

app-back-link {

  left: 0;
  transform: translateX(32px);
  transition: all ease .2s;
  opacity: 0;
  position: absolute;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }

}

.sub-title {
  //position: absolute;
  //text-align: center;
  //margin: 0 auto 0 calc(50% - 143px);
  text-decoration: none;
  font-size: 13px;
  bottom: 6px;
  //line-height: 12px;
}
