.header {
  background: #005292;
  height: 100%;
  color: #fff;
  vertical-align: middle;
  line-height: 56px;
  padding: 0 8px;

  a {
    color: #ffffff;

    &:visited {
      color: #ffffff;
    }
  }

  .title {
    position: absolute;
    text-align: center;
    margin: 0 auto 0 calc(50% - 84px);
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;

    a {
      text-decoration: none;
    }
  }
}

app-back-link {

  transform: translateX(32px);
  transition: all ease .2s;
  opacity: 0;
  position: absolute;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }

}
