/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'assets/scss/atoms/body';
@import 'assets/scss/atoms/table';

.mat-grid-tile figure.mat-figure {
  align-items: normal;
  box-sizing: border-box;
  justify-content: normal;
  padding: 16px;
}
