/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'assets/scss/atoms/body';
@import 'assets/scss/atoms/font';
@import 'assets/scss/atoms/heading';
@import 'assets/scss/atoms/list';
@import 'assets/scss/atoms/table';
@import 'assets/scss/utilities/mixins';
@import 'assets/scss/utilities/variables';

.not-reviewed {
  font-size: 2.5em;
  margin-left: 50px;
  line-height: 2.5em;
}

.shift-below-header {
  height: calc(100% - 56px);
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 56px;

  &.extra-header-compensation {
    height: calc(100% - 122px);
    top: 122px;
  }
}
